.vertical-count-up {
    /* position: relative; */
    display: inline-flex;
    align-self: center;
    height: 1em;
    overflow: hidden;
    font-size: inherit;
    line-height: 1em;
    /* Ensure the line height matches the height */
}

.numbers-wrapper {
    position: relative;
    width: 100%;
    transition: transform 0.5s ease-out;
}

.number {
    height: 1em;
    /* Match height to container */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
}