/* Ensure font-size is at least 16px to prevent zooming on mobile devices */
.membership-container {
    display: flex;
    min-height: 100vh;
    /* Ensure it covers the full viewport height */
    height: auto;
    /* Allow it to expand based on content */
    width: 100%;
    background-color: #FCF7F3;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.row-layout {
    display: flex;
    flex-direction: column;
}

.row-layout-card {
    width: 100%;
    display: flex;
    justify-content: center;
}

.row-layout-info {
    margin-top: 20;
    width: 100%;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    position: relative;
}

.pola-image {
    width: 100%;
    object-fit: contain;
    background-color: #FCF7F3;
}

.modal {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

/* Ensure modal content visibility */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.gradient-style {
    width: 100%;
    height: 85%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background: linear-gradient(to bottom, #FFFFFF, #FF8100);
}

.membership-sizer {
    width: 90%;
}


@media (min-width: 768px) {
    .row-layout {
        flex-direction: row;
    }

    .row-layout-card {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .row-layout-info {
        width: 50%;
    }

    .membership-sizer {
        width: 70%;
    }
}