.membership-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
    }
}

.background-container,
.checkout-container {
    width: 100%;
}

@media (min-width: 768px) {

    .background-container,
    .checkout-container {
        width: 50%;
    }
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkout-container {
    padding: 16px;
    background-color: white;
}

@media (min-width: 768px) {
    .checkout-container {
        padding: 32px;
    }
}

.fade-in {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 100vh;
    animation: fadeInAnimation ease 1s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}